<template name="setup">

	<div class="control-group">
      <label>Benutzernamn</label>
      <div class="controls">
      	<input id="username" name="username" type="text" value="" />
      </div>
    </div>


	<div class="control-group">
	  <label>Alter</label>
	  <div class="controls">
	  	<input id="age" name="age" type="number" min="10" max="100" value="20"/>
	  </div>
	</div>

	<div class="control-group">
	  <label>Geschlecht</label>
	  <div class="controls">
	    <select id="gender" name="gender" type="text">
	      <option>Mann</option>
	      <option>Frau</option>
	    </select>
	  </div>
	</div>

    <div class="control-group">
      <label>Muttersprache</label>
      <div class="controls">
      	<input id="motherLang" name="motherLang" type="text" value="" />
      </div>
    </div>

    <div class="form-actions">
      <input type="submit" class="button" value="submit" />
    </div> 
	
</template>