<template name="calibrate">

    <div class="ui basic segment" id="calibrateButtons" style="text-align: center">
        <div class="ui header">
            Lesen sie bitte das Wort: <br>
            {{{getSentence}}}
        </div>

        {{> recorderHandler}}
        <br>
        <div class="ui green button large {{#unless getCurrRecording}}disabled{{/unless}} submitSentence">Speichern</div>
        <div class="ui button green large {{#unless hasValidCalibrationSentence}}disabled{{/unless}} js-nextStep">Nächste</div>
    </div>
</template>