<template name="home">
  <h2>Welcome to the homepage!</h2>


  {{#if currentUser}}
  	<h3>You are logged in</h3>
  	<div class="ui container navButtons">
		<button class="ui button setup" id="setup">Setup</button>
		<button class="ui button calibrate" id="calibrate" disabled="true">Calibrate</button>
		<button class="ui button vowelTrainer" id="vowelTrainer" disabled="true">Vowel Trainer</button>
        <button class="ui button prog" id="progress" disabled="true">Progress</button>
	</div>

	<div>
		{{displayButtonMessage}}
		<!-- TODO set up a warning system of messages to guide the user in setup -->
	</div>


  {{else}}
  	<h3>Please log in to the site!</h3>


  {{/if}}


  
</template>