<template name="home">

    <div class="ui basic segment">
    <h2>Willkommen auf der Homepage!</h2>


  {{#if currentUser}}
  	<h3>Du bist eingeloggt!</h3>
  	<div class="ui container navButtons">
		<button class="ui button setup {{#if hasSetup}} disabled {{/if}}" id="setup">Setup</button>
		<button class="ui button calibrate {{#unless canCalibrate }} disabled {{/unless}} " id="calibrate" >Kalibrierung</button>
        <button class="ui button test {{#unless canVowelTrain }} disabled {{/unless}} " id="test" >Test</button>
        <button class="ui button vowelTrainer {{#unless canVowelTrain }}disabled{{/unless}}" id="vowelTrainer" >Vokal Trainer</button>
        <button class="ui button prog {{#unless canViewProgress }}disabled{{/unless}}" id="progress" >Progress</button>
	</div>




  {{else}}
  	<h3>Bitte Einloggen!</h3>


  {{/if}}

    </div>
  
</template>